<!DOCTYPE html>
<html>
<head>
  <title>Lifelogline Main</title>
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://use.typekit.com/pvm3vbt.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
  
  <script type='text/javascript'>
    preloaded_data = <%= @data.to_json.html_safe %>;
  </script>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "let_me_in/application" %>
  <%= javascript_include_tag "navel_gazer/application" %>
</body>
</html>
