<div class="lifelog_post {{linked_account.type}}" data-href="{{permalink}}">
  <div class="media">
    {{#photos}}
      <img src='{{html}}' title='{{created_at}}' />
    {{/photos}}
  </div>
  {{#if content}}
    <div class="lifelog_text">
      <p>{{{content}}}</p>
      <div class="permalink"><a href="{{permalink}}" target="_blank">link</a></div>
    </div>
  {{/if}}
</div>
{{#if additional_count }}
  <div class="post_expander">+ {{additional_count}} more from {{linked_account.type}}</div> 
{{/if}}  
